<!DOCTYPE html>
<html lang="en">


<title>Trivia Nights</title>
<%- include('./partials/_head') %>


<body>
  <main>
    <%- include('./partials/_navBar') %>

    <% questions.forEach(function(questions){ %>
      <div class="questionArry">
        <div id="question">
          <form action="/submitAnswer">
    
            <div class="question">
    
              <label class="prompt"><%=questions.question%></label>
              
              <div class="answer">
                <input type="radio" id="answer1" name="1" value="1">
                <label for="1"><%=questions.wrongAnswers[0]%></label>
              </div>
      
              <div class="answer">
                <input type="radio" id="answer2" name="2" value="2">
                <label for="2"><%=questions.answer%></label>
              </div>
      
              <div class="answer">
                <input type="radio" id="answer3" name="3" value="3">
                <label for="3"><%=questions.wrongAnswers[1]%></label>
              </div>
      
              <div class="answer">
                <input type="radio" id="answer4" name="4" value="4">
                <label for="4"><%=questions.wrongAnswers[2]%></label>
              </div>
    
              <div class="button">
                <input type="submit" value="Submit" id="buttn">
              </div>
            </div>
        </div>

    </div>
    <% }); %>
  </main>
  <%- include('./partials/_footer') %>
</body>

</html>
